.article-img img{
    width: 750px;
    height: 500px;
    margin: 10px 245px;
    border-radius: 30px;
}
.article-title{
    font-size: 22px;
    text-align: center;
}
.article-text{
    font-size: 18px;
    padding: 0 40px;
    text-align: left;
}
.btns-service{
    margin-left: 75%;
    margin-bottom: 20px;
    border: 1px solid #43B97F;
    color: #ffffff;
    background-color: #43B97F;  
}
.btns-service:hover{
    color: #43B97F;
    border: 1px solid #43B97F;
}
