.art-list-item{
    margin: 20px auto; 
    padding-left: 0;
}

.art-title{
    text-align: center;
}

.art-text{
    padding: 0 50px;
}
.art-img{
    text-align: center;
    
}
.art-img img{
    width: 700px;
    height: 500px;
}
.MuiGrid-root>.MuiGrid-item{
    padding-left: 0;
}

