.back7{
    background-image: url("../../assets/back7.webp");
    width: 1170px;
    height: 250px;
    margin: 0 auto 20px auto;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    padding: 200px 0 0 50px;
}