.head{
    width: 1170px;
    height: 720px;
    margin: 0 auto;
}
.navbar{
    width: 1070px;
    height: 60px;
    margin: 19px 50px;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 148px;
    height: 60px;
    color: black;
    text-align: center;
    font-size: 36px;
}
.menu{
    width: 606px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.title{
    font-size: 48px;
    text-align: center;
    margin: 150px auto 0 auto;
}
.text{
    width: 780px;
    height: 50px;
    margin: 20px auto;
    text-align: center;
    font-size: 16px;
}