.slider{
    width: 900px;
    height: 180px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
   
}
.minislider{
    background-repeat: no-repeat;
    width: 280px;
    height: 180px;
    background-position: center;
    
}